/* Code by Kate Wu */

body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    
}

.content-para,.content-title{
    font-size: 1.4rem;
}

.content-title{
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.content-para{
    font-size: 1.0rem;
}

.flex-book{
    max-width: 960px;
}

.audio-play{
    background-color: #ccc;
}

.book-title{
    font-size: 0.9rem;
}

.slide-info{
   /* text-shadow: 2px 2px 4px #111111; */
   font-size: 1.8rem;
   color: #111111;
}

.slide-text-sm{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}
.slide-text-bg{
    font-size: 2.0rem;
    letter-spacing: 0.05rem;;
}
.slide-text-mm{
    font-size: 1.3rem;
    letter-spacing: 0.05rem;;
}
.nav-text-sm{
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}



/* Code by Kate Wu */